{% extends 'clients/layouts/master.html' %}
{% block title %}Brand{% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="{% url 'client:brandCreate' %}" class="btn btn-success waves-effect waves-light">Add
                        new</a>
                </div>
                <h4 class="page-title">All Brand List</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    {% include 'layouts/event.html' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Name</th>
                                    <th>Logo</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ obj.name }}</td>
                                    <td>
                                        {% if obj.logo %}
                                        <img src="{{obj.logo.url}}" alt="{{ obj.name }}">
                                        {% endif %}
                                    </td>
                                    <td>{{ obj.status }}</td>
                                    <td>
                                        <a href="{% url 'client:brandEdit' obj.id %}"><i class="fe-edit"></i></a>
                                        <a href="javascript:void();" data-toggle="modal"
                                            data-target="#deleteModal_{{obj.id}}">
                                            <i class="fe-delete"></i>
                                        </a>
                                        <div class="modal" id="deleteModal_{{obj.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal body -->
                                                    <div class="modal-body text-center" style="padding: 50px;">
                                                        <form action="{% url 'client:brandDelete' obj.id %}"
                                                            method="post">
                                                            {% csrf_token %}
                                                            <h5>Are you sure want to delete this?</h5>
                                                            <br>
                                                            <button type="submit"
                                                                class="btn btn-danger">Confirm</button>
                                                            <button type="button" class="btn btn-info"
                                                                data-dismiss="modal">Cancel</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div> <!-- end container-fluid -->
{% endblock %}