{% extends 'layouts/master.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<!-- =========================== Breadcrumbs =================================== -->
            {% if categories.feature_image %}
            <div class="min-banner">
                <img src="{{categories.feature_image.url}}" class="img-fluid" alt="" />
            </div>
            {% endif %}
<!--            <div class="brd_wraps pt-2 pb-2">-->
<!--                <div class="container">-->
<!--                    <nav aria-label="breadcrumb" class="simple_breadcrumbs">-->
<!--                      <ol class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="{% url 'products:index' %}"><i class="ti-home"></i></a></li>-->
<!--                        <li class="breadcrumb-item"><a href="#">Men</a></li>-->
<!--                        <li class="breadcrumb-item"><a href="#">Winter Clothes</a></li>-->
<!--                        <li class="breadcrumb-item active" aria-current="page">Shirts</li>-->
<!--                      </ol>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
            <!-- =========================== Breadcrumbs =================================== -->
            
            
            <!-- =========================== Search Products =================================== -->
            <section class="gray">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="filter_search_opt">
                                <a href="javascript:void(0);" onclick="openFilterSearch()"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">

                        {% if sub_categories %}
                        <!-- Single Product -->
                        <div class="col-lg-3 col-md-12">
                            <div class="search-sidebar sm-sidebar" id="filter_search"  style="left:0;">
                                <div class="search-sidebar_header">
                                    <h4 class="ssh_heading">Close Filter</h4>
                                    <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                                </div>
                                <div class="search-sidebar-body">
                                
                                    <!-- Single Option -->
                                    <div class="single_search_boxed">
                                        <div class="widget-boxed-header">
                                            <h4 class="ml-4 mt-4">Categoriess</h4>
                                        </div>
                                        <div class="widget-boxed-body">
                                            <div class="side-list no-border">
                                                <div class="filter-card" id="shop-categories">
                                                    <!-- Single Filter Card -->
                                                    {{sub_categories|safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-lg-9 col-md-12">
                            <!-- row -->
                            <div class="row">
                            
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag hot">Hot</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/1.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/2.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag new">New</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/3.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_offer_sell">Save 20% Off</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/4.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag hot">Hot</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/5.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/6.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag hot">Hot</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/7.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag new">New</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/vegetables/8.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/fruits/1.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag hot">Hot</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/fruits/2.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/fruits/3.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                                <!-- Single Item -->
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="woo_product_grid">
                                        <span class="woo_pr_tag new">New</span>
                                        <div class="woo_product_thumb">
                                            <img src="{% static 'frontend/img/fruits/4.png' %}" class="img-fluid" alt="" />
                                        </div>
                                        <div class="woo_product_caption center">
                                            <div class="woo_rate">
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="woo_title">
                                                <h4 class="woo_pro_title"><a href="detail-1.html">Accumsan Tree Fusce</a></h4>
                                            </div>
                                            <div class="woo_price">
                                                <h6>$72.47<span class="less_price">$112.10</span></h6>
                                            </div>
                                        </div>
                                        <div class="woo_product_cart hover">
                                            <ul>
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                                <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                                <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                            </ul>
                                        </div>                              
                                    </div>
                                </div>
                                
                            </div>
                            <!-- row -->
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination">
                                        <li class="page-item left">
                                          <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="ti-arrow-left mr-1"></i>Prev</span>
                                          </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item right">
                                          <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="ti-arrow-right mr-1"></i>Next</span>
                                          </a>
                                        </li>
                                      </ul>
                                    </nav>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- =========================== Search Products =================================== -->
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
        $('.collapse').on('show.bs.collapse', function () {
            print();
            $('.collapse.in').each(function(){
                $(this).collapse('hide');
            });
          });
            $('#shop-categories>div>h5>a').on('click', function () {
                $('#shop-categories').find('#shop-sub-categories div').collapse('hide');
            });
        });
    </script>
{% endblock %}
